[include]
	path = ~/.config/git/local
[init]
	defaultBranch = main
[core]
	excludesfile = ~/.config/git/ignore
	pager = cat
{{- if eq .chezmoi.os "darwin" }}
[commit]
	template = ~/.stCommitMsg
[credential]
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
{{- else if eq .chezmoi.os "linux" }}
{{- else }}
{{- end }}
