{{- if eq .chezmoi.os "darwin" }}
# homebrew
eval "$(/opt/homebrew/bin/brew shellenv)"

# OrbStack: command-line tools and integration
if [ -f "$HOME/.orbstack/shell/init.zsh" ]; then
  source "$HOME/.orbstack/shell/init.zsh" 2>/dev/null || :
fi
{{- else }}

{{- end }}
